<%= form_with(model: alarm, local: true) do |form| %>
  <% if alarm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alarm.errors.count, "error") %> prohibited this alarm from being saved:</h2>

      <ul>
      <% alarm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :alarm_user_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :alarm_name %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :alarm_latitude, class: :text_field, step: :any %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :alarm_longitude, class: :text_field, step: :any %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.check_box :email, id: :alarm_email %>
  </div>

  <div class="field">
    <%= form.label :sms %>
    <%= form.check_box :sms, id: :alarm_sms %>
  </div>

  <div class="field">
    <%= form.label :webhook %>
    <%= form.text_field :webhook, id: :alarm_webhook %>
  </div>

  <div class="field">
    <%= form.label :actived %>
    <%= form.check_box :actived, id: :alarm_actived %>
  </div>

  Events:
  <ul>
    <%= form.fields_for :events do |events_form| %>
      <li>
        <%= events_form.label :capability %>
        <%= events_form.text_field :capability %>
        
        <%= events_form.label :comparator %>
        <%= events_form.text_field :comparator %>
        
        <%= events_form.label :value %>
        <%= events_form.text_field :value %>

        Destroy?
        <%= events_form.check_box :_destroy%>
      </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
