<p id="notice"><%= notice %></p>

<h1>Alarms</h1>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Actived</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Email</th>
      <th>SMS</th>
      <th>Webhook</th>
      <th>Flow ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alarms.each do |alarm| %>
      <tr>
        <td><%= alarm.user_id %></td>
        <td><%= alarm.name %></td>
        <td><%= alarm.actived %></td>
        <td><%= alarm.latitude %></td>
        <td><%= alarm.longitude %></td>
        <td><%= alarm.email %></td>
        <td><%= alarm.sms %></td>
        <td><%= alarm.webhook %></td>
        <td><%= alarm.flow_id %></td>
        <td><%= link_to 'Show', alarm %></td>
        <td><%= link_to 'Edit', edit_alarm_path(alarm) %></td>
        <td><%= link_to 'Destroy', alarm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alarm', new_alarm_path %>
