<p id="notice"><%= notice %></p>

<p>
  <strong>User ID:</strong>
  <%= @alarm.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @alarm.name %>
</p>

<p>
  <strong>Actived:</strong>
  <%= @alarm.actived %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @alarm.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @alarm.longitude %>
</p>

<p>
  <strong>Email:</strong>
  <%= @alarm.email %>
</p>

<p>
  <strong>SMS:</strong>
  <%= @alarm.sms %>
</p>

<p>
  <strong>Webhook:</strong>
  <%= @alarm.webhook %>
</p>

<p>
  <strong>Flow ID:</strong>
  <%= @alarm.flow_id %>
</p>

<%= link_to 'Edit', edit_alarm_path(@alarm) %> |
<%= link_to 'Back', alarms_path %>
