<p id="notice"><%= notice %></p>
<h1>InfoCity</h1>
<p>InfoCity é um sistema de notificação de eventos complexos. Através de uma API, o cliente pode registrar os critérios desejados para o disparo da notificação. Os critérios serão provenientes dos diversos sensores instalados na cidade ou informações de data e hora. O sistema disponibilizará diversos meios para envio de notificação, como, por exemplo, envio de SMS, e-mail e integração com webhooks.</p>
<a href="https://social.stoa.usp.br/poo2017/grupo-5-notificacoes-inteligentes" target="blank">Ver Detalhes</a>

<br /><br />
<a href="alarms">Alarms</a><br />
<a href="events">Events</a><br />
<a href="/flows/master?var=temperature">Criar flow mestre de temperature</a><br />
<a href="/flows/master?var=day">Criar flow mestre de day</a><br />
<a href="/flows/master?var=capacity_utilization">Criar flow mestre de capacity_utilization</a><br />
