<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :capability %>
    <%= form.text_field :capability, id: :event_capability %>
  </div>

  <div class="field">
    <%= form.label :comparator %>
    <%= form.text_field :comparator, id: :event_comparator %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :event_value %>
  </div>

  <div class="field">
    <%= form.label :query_id %>
    <%= form.text_field :query_id, id: :event_query_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
