<p id="notice"><%= notice %></p>

<p>
  <strong>Capability:</strong>
  <%= @event.capability %>
</p>

<p>
  <strong>Comparator:</strong>
  <%= @event.comparator %>
</p>

<p>
  <strong>Value:</strong>
  <%= @event.value %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
